.validation-errors {
    padding: 5px 0px 0px 18px;
}

.error-message {
    color: red;
    font-size: 12px;
}

ion-card-content ion-item {
    padding: 5px 0px;
}

ion-button {
    margin: 15px 0px;
}