.label-value {
    margin-left: 10%;
}

.user-info {
    text-align: center;
    padding: 5%;
}

.user-img ion-img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}